[submodule "src/plugins/lib/devTab"]
	path = src/plugins/lib/devTab
	url = git@github.com:Devric/devTab.git
[submodule "src/plugins/lib/devPop"]
	path = src/plugins/lib/devPop
	url = git@github.com:Devric/devPop.git
[submodule "src/plugins/lib/prefixfree"]
	path = src/plugins/lib/prefixfree
	url = https://github.com/LeaVerou/prefixfree.git
[submodule "src/plugins/lib/headjs"]
	path = src/plugins/lib/headjs
	url = https://github.com/headjs/headjs.git
