/* default buttons */
.button,
input[type=button],
input[type=submit],
input[type=reset],
button {
    cursor:pointer;
    background:white;

    color:#555;
    font-weight:bold;

    border:1px solid #e7e7e7;
    border-bottom:4px solid #e7e7e7;

    padding:5px 10px;
    vertical-align:top;
}

.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
    margin-top:5px;
    border-bottom:1px solid #e7e7e7;
}

.button:active,.button.active,
input[type=button]:active, input[type=button].active,
input[type=submit]:active, input[type=submit].active,
input[type=reset]:active, input[type=reset].active,
button:active, button.active {
    margin-top:4px;
    border:1px solid #ccc;
    border-top:2px solid #ddd;
    border-bottom:1px solid #eee;
}

input[type=file] {
    padding:4px 0;
}
